.checkerContainer {
  overflow: hidden;
  --height: 100px;
  border: 1px solid red;

  &:has(.checkerCheckbox:checked) {
    height: var(--height);
  }
}

.checkerContainerLink {
  position: relative;
}

.checkerCheckbox {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--height);
}
