.checkerContainer {
  position: relative;
  --height: 100px;
  overflow: hidden;

  &:has(.checkerCheckbox:checked) {
    height: var(--height);
  }
}

.checkerCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
}
