.checkerContainer {
  position: relative;
  overflow: hidden;
  --height: 50px;
  max-height: 500px;
  transition: 0.25s ease;

  &:has(.checkerCheckbox:checked) {
    max-height: var(--height);
    opacity: 0.2;
  }
}

.checkerContainerLink {
  position: relative;
}

.checkerCheckbox {
  position: absolute;
  top: 0;
  right: 60px;
  height: 40px;
  width: 40px;
}
